---
const { service } = Astro.props;
const { image, title, description, navigationLink } = service;
---

<div class="flex items-center justify-center mx-auto p-2 w-[80%]">
  {image &&
    <img src={image.src} alt={image.alt} class="w-32 h-32 border-solid border-black border-2 p-2"/>
  }
  <div class="flex flex-col w-2/5 text-left relative ml-5">
    <h1 class="text-gray-900 font-bold text-xl mt-4">{title}</h1>
    <p class="text-gray-500  text-left">{description}</p>
    <button class="mb-0 mr-auto mt-5 border-[rgba(0,0,0,0.5)] border-2 p-2 hover:text-white hover:bg-gray-900" "><a href={navigationLink}>Mai Multe</a></button>
  </div>
</div>